<h1>OPERADORES BASICOS</h1>

<h2>TAP</h2>
    <p><button type="button" class="btn btn-primary" (click)="onGetCervezasTap()">TRAER CERVEZAS (tap)</button></p>

    <p>TRANSFORMACION</p>
    <p><button type="button" class="btn btn-primary" (click)="onGetCervezasMergeMap()">TRAER CERVEZAS DE 1 en 1 (mergeMap)</button></p>
    <p><button type="button" class="btn btn-primary" (click)="onGetCervezasMap()">(map) - Transformar el item que te viene</button></p>
    <p><button type="button" class="btn btn-primary" (click)="onGetCervezasPluck()">(pluck) - Quedarte con solo x atributos del objeto que te viene [DEPRECATED, usar map)</button></p>
    <p><button type="button" class="btn btn-primary" (click)="onGetCervezasFilter()">(filter) - Quedate solo con los items para los que se cumple "X cosa"</button></p>
    <p><button type="button" class="btn btn-primary" (click)="onGetCervezasCadenasDeOperadores()">Como mezclar todos los operadores que queramos</button></p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cerveza of arrayCervezas">
      <th scope="row">{{ cerveza?.id }}</th>
      <td>{{ cerveza?.name }}</td>
      <td>{{ cerveza?.description }}</td>
      <td><img [src]="cerveza?.image_url" [alt]="cerveza?.description" class="img-thumbnail"></td>
    </tr>
  </tbody>
</table>

