<h1>OPERADORES BASICOS</h1>

<h2>TAP</h2>
    <p><button type="button" class="btn btn-primary" (click)="onGetCervezasTap()">TAP TRAER CERVEZAS</button></p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cerveza of arrayCervezas">
      <th scope="row">{{ cerveza?.id }}</th>
      <td>{{ cerveza?.name }}</td>
      <td>{{ cerveza?.description }}</td>
      <td><img [src]="cerveza?.image_url" [alt]="cerveza?.description" class="img-thumbnail"></td>
    </tr>
  </tbody>
</table>

